@import 'tailwindcss';

@theme {
  --color-background: #fff9f2;
  --color-ink: #0c0a09;
  --color-ink-sub: #57534d;
  --color-ink-muted: #79716b;
  --color-ink-disabled: #a6a09b;
  --color-ink-heading: #1a0826;

  --radius-control: 10px;
}
